API_KEY=your-super-secret-key-only-you-know
DATABASE_URI=mongodb://localhost:27017/jwt_auth
JWT_SECRET=xkprOBnLzRcXwBdAIAb8RN6LKvmaxKsT
JWT_EXPIRY=15m
REFRESH_SECRET=xkprOBnLzBdASJHk34EYU9IAb8RN
NODE_ENV=development
REDIS_URL=redis://localhost:6379

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
OAUTH_CALLBACK_BASE=http://localhost:3000
